.drpIcon{
  $drp-icon-wid: 17px;
  position: relative;
  width: $drp-icon-wid;
  &:after{
    right: 0;

    content: "";
    position: absolute;
    height: 2px;
    width: $drp-icon-wid/2 + 1.5;
    background-color: var(--secondary-1-color);
    transform: rotate(-45deg);
    border-radius: 1px;
  }
  &:before{
    left: 0;
    content: "";
    position: absolute;
    height: 2px;
    width: $drp-icon-wid/2 + 2;
    background-color: var(--secondary-1-color);
    transform: rotate(45deg);
    border-radius: 1px;
  }
  &.alternate{
    &:after{
      background-color: var(--main-bg-color);
    }
    &:before{
      background-color: var(--main-bg-color);
    }
  }
}