@import "shared/animations";
.bannerSliderProgress{
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  .progressBack{
    height: 2px;
    width: inherit;
    background-color: var(--tonic-color);
  }
  .progress{
    position: absolute;
    width: 0%;

    height: 4px;
    background-color: var(--main-bg-color);
  }
  &.animate{
    .progress{
      animation-name: progress;
      animation-duration: 5s;
      animation-timing-function: linear;
    }
  }
}

@keyframes progress {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}