.homePage{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .banner{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  .download{
    flex: 0 1 auto;
    //height: 300px;
  }
}