@import "shared/fonts";

.iconBtnCont{
  position: relative;
  .iconBtnLabel{
    position: absolute;
    right: -5px;
    top: -5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      @include btnFont();
      color: var(--main-bg-color);
    }
  }
  .iconBtn{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 0.3s;

    .hoverLabel{
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .label{
      transition: opacity 0.3s;
    }

    &:hover, &:focus{
      cursor: pointer;
      background-color: rgba(0,0,0,.05);
      .hoverLabel{
        opacity: 1;
      }
      .label{
        opacity: 0;
      }
    }

    &.big{
      height: 60px;
      width: 60px;
    }
    &.colorful{
      background-color: var(--accent-color);
      &:hover, &:focus{
        background-color: var(--main-bg-color);
      }
    }

  }
}