body{
  --main-bg-color: #ffffff;
  --accent-color: #8d76b2;
  --accent-light-color: #cbb8ea;
  --secondary-1-color: #28282d;
  --secondary-2-color: #4c4c50;
  --secondary-3-color: #e6e6ee;
  --secondary-4-color: #999aa5;
  --secondary-5-color: #f5f9fa;
  --tonic-color: #28282dcc;
}