@import "shared/grid";
.bannerSlider{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;

  &::-webkit-scrollbar{
    display: none;
  }

  & > *{
    @include margDefault();
    &:first-child{
      margin-left: max(#{$padding-default * 2}, calc((100vw - #{$containerWidth}) / 2) + #{$padding-default});
    }
    &:last-child{
      margin-right: max(#{$padding-default * 2}, calc((100vw - #{$containerWidth}) / 2) + #{$padding-default});
    }
  }
}