@import "shared/grid";
@import "shared/fonts";
@import "shared/animations";
.fullScreenMenu{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  .background{
    height: inherit;
    width: inherit;
    background-color: var(--tonic-color);
  }
  .foreground{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    background-color: var(--secondary-1-color);
    overflow-y: scroll;
    .content{
      padding-left: calc(100vw / #{$gridSize} / 2 + #{$padding-default * 2});
      width: min(#{$containerWidth / 2}, calc(100% - #{$padding-default * 2}));
      padding-top: $padding-default;
      .closeRow{
        display: flex;
        justify-content: flex-end;
      }
      .bigLinks{
        margin-top: 120px;
        margin-bottom: 120px;
        ul{
          li{

            transition: padding-left $defaultTransitionTime $defaultCubic;

            &{
              @include starMarginV(25px);
            }

            &:hover,
            &:focus{
              padding-left: $padding-default * 2;
              a{
                color: var(--accent-color);
              }
            }

            a{
              @include headerFont();
              color: var(--main-bg-color);
              transition: color $defaultTransitionTime $defaultCubic;
            }

          }
        }
      }
      .downloadApp{
        .downloadTitle{
          @include defaultFont();
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: var(--secondary-4-color);
          margin-bottom: $padding-default*2;
        }
        .iconLinks{
          & > *{
            @include starMargin($padding-default/2);
          }
          img{
            height: 40px;
          }
        }
      }
    }
  }
}