@import "shared/fonts";
.dropdownFavs{
  position: absolute;
  z-index: 1;
  width: 375px;
  padding: 15px 0;
  background-color: var(--main-bg-color);
  border-radius: 3px;
  border: 1px solid var(--secondary-3-color);
  .favBtn{
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    &:hover, &:focus{
      background-color: var(--secondary-5-color);
      cursor: pointer;
    }
    .userData{
      flex-grow: 1;
      display: flex;
      align-items: center;

      .userPic{
        margin-right: 15px;
      }
      .username{
        @include defaultFont();
        color: var(--secondary-1-color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}