@import "shared/grid";
@import "shared/fonts";
@import "shared/animations";
.interactiveBanner{
  flex-grow: 1;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  position: relative;

  .background{
    position: relative;
    flex-grow: 1;

    z-index: -2;
    background-color: var(--secondary-1-color);

    overflow: hidden;

    .bgUnderSplash{
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, #28282dcc);
      z-index: 0;
    }
    .bgImage{

      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;

      transition: transform $defaultTransitionTime $defaultCubic, opacity $defaultTransitionTime $defaultCubic;
      &.loading{
        opacity: 0;
        transform: translateY(-$padding-default*4);
      }
    }
  }

  .foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);

    display: flex;
    flex-direction: column;
    z-index: 0;
    .headerContent{
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      .posterDescription{
        @include x(5);



        .posterName{
          @include medFont();
          color: var(--main-bg-color);
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        .posterDesc{
          @include smFont();
          color: var(--secondary-3-color);
          margin-bottom: 30px;
        }

        .content{
          @include x(1, 1);

          transition: transform $defaultTransitionTime $defaultCubic, opacity $defaultTransitionTime $defaultCubic;

          padding-left: $padding-default;

          border-left: 4px solid var(--accent-color);

          &.loading{
            transform: translateY(-$padding-default * 2);
            opacity: 0;
          }

        }
      }
      .posterActions{
        @include x(7);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 30px;

        & > *{
          @include starMargin();
        }

      }
    }
    .bottomContent{
      flex: 0 1 auto;
      background-color: var(--tonic-color);
      padding-top: 50px;
      padding-bottom: 50px;
      .container{
        margin-top: 30px;
        align-items: center;
      }
      .bottomSlider{
        flex-grow: 1;

      }
      .bottomControls{
        padding-left: $padding-default;
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 940px){
  .interactiveBanner{
    .foreground{
      .headerContent{
        .container{
          flex-wrap: wrap;
          flex-direction: column;
        }
        .posterDescription{
          @include x(12);
        }
        .posterActions{
          @include x(12);
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          margin-bottom: 30px;

          & > *{
            @include starMargin();
          }

        }
      }
      .bottomContent{
        flex: 0 1 auto;
        background-color: var(--tonic-color);
        padding-top: 50px;
        padding-bottom: 50px;
        .container{
          margin-top: 30px;
          align-items: center;
        }
        .bottomSlider{
          flex-grow: 1;

        }
        .bottomControls{
          padding-left: $padding-default;
          display: flex;
        }
      }
    }
  }
}